@model CGC_GM_FE.Models.Tarea

@{
    ViewBag.Title = "Detalle Tarea";
}

@section Navegation{
<ol class="breadcrumb">
    <li><a href="/Inicio">Inicio</a></li>
    <li><a href="/Agendas">Agendas</a></li>
    <li><a href="/Tareas/Index/@Model.AgendaId">Tareas</a></li>
    <li class="active">Detalle</li>
</ol>
}

<h2>Detalle Tarea</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Agenda.Nombre) Agenda
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agenda.Nombre)
        </dd>

        <dd>
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoDescripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modificar", "Modificar", new { id = Model.Id }) |
    @Html.ActionLink("Tareas", "Index", new { id = Model.AgendaId })
</p>
