@model CGC_GM_FE.Models.Tarea

@{
    ViewBag.Title = "Eliminar Tarea";

    object AgendaId = Url.RequestContext.RouteData.Values["id"];
}

<h2>Eliminar Tarea</h2>

<h3>¿Está seguro que desea continuar?</h3>
<div>
    <h4>Tarea</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Agenda.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agenda.Nombre)
        </dd>

        <dd>
            <br />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.AgendaId)
        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Tareas", "Index", new { id = AgendaId })
        </div>
    }
</div>
