@model IEnumerable<CGC_GM_FE.Models.Tarea>

@{
    ViewBag.Title = "Tareas";
    object AgendaId = Url.RequestContext.RouteData.Values["id"];
}

<h2>@ViewBag.NombreAgenda > Tareas</h2>

<p>
    @Html.ActionLink("Crear nueva tarea", "Nuevo", new { id = AgendaId })
</p>
<table class="table table-hover table-responsive">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.ActionLink("Detalles", "Detalle", new { id = item.Id }) |
                    @Html.ActionLink("Modificar", "Modificar", new { id = item.Id }) |
                    @Html.ActionLink("Eliminar", "Eliminar", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    @Html.ActionLink(linkText: "Agendas", actionName: "Index", controllerName: "Agendas") |
    @Html.ActionLink(linkText: "Detalle Agenda", actionName: "Detalle", controllerName: "Agendas", routeValues: new { id = AgendaId }, htmlAttributes: null)
</div>