@model IEnumerable<CGC_GM_FE.Models.Tarea>

@{
    ViewBag.Title = "Index";
    object AgendaId = Url.RequestContext.RouteData.Values["id"];
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Nuevo", new { id = AgendaId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AgendaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AgendaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Modificar", new { id=item.Id }) |
            @Html.ActionLink("Details", "Detalle", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Eliminar", new { id=item.Id })
        </td>
    </tr>
}

</table>
